@font-face {
  font-family: lcdDisplay;
  src: url(../fonts/Open\ 24\ Display\ St.ttf);
}

html {
  margin: 0;
  padding: 0;
  background: linear-gradient(#d0dee2, #857f7f);
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

#calculator {
  display: flex;
  flex-direction: column;
  width: 520px;
  height: 770px;
  align-items: center;
  justify-content: flex-start;
  border: solid 0.4em rgb(124, 124, 124);
  border-radius: 1.5em;
  background-color: rgb(61, 61, 61);
}

#title {
  margin: 0.8em 0em 0em 1.5em;
  padding: 0.2em 0.2em 0em 0.2em;
  align-self: flex-start;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14pt;
  font-weight: bold;
  text-shadow: 1.3px 1.3px #383838;
  color: rgb(218, 85, 61);
  border: solid 0.15em rgb(218, 85, 61);
  border-radius: 0.6em;
}

#display {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 13%;
  margin: 1.2em 0em 2.6em 0em;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  background-color: rgb(226, 226, 226);
}

#text {
  display: flex;
  flex-direction: column;
  width: 98%;
  height: 90%;
  margin: 0em, 0em, 0.2em, 0em;
  align-items: flex-end;
  justify-content: space-around;
  font-family: lcdDisplay;
  font-size: 64pt;
  color: rgb(68, 68, 68);
}

#buttons {
  display: grid;
  width: 440px;
  height: 530px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 0.9em;
}

button {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30pt;
  color: white;
  border: none;
  border-radius: 100%;
  background-color: rgb(126, 126, 126);
}

button:hover, button:focus {
  background-color:  rgb(151, 150, 150);
  outline: none;
}

.topBtns {
  color:  rgb(61, 61, 61);
  background-color:  rgb(189, 189, 189);
}

.topBtns:hover, .topBtns:focus {
  background-color: rgb(230, 230, 230);
  outline: none;
}

.sideBtns, #equals {
  color: white;
  background-color: tomato;
}

.sideBtns:hover, .sideBtns:focus, #equals:hover, #equals:focus {
  color: tomato;
  background-color:  white;
  outline: none;
}

#backspace {
  font-size: 50pt;
}