@font-face {
  font-family: lcdDisplay;
  src: url(../fonts/Open\ 24\ Display\ St.ttf);
}

html {
  margin: 0;
  padding: 0;
  background: linear-gradient(#4fdcff, #d34497);}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 530px;
  height: 770px;
  background-color: rgb(61, 61, 61);
  border-radius: 1.5em;
  border: solid 0.4em;
  border-color: rgb(124, 124, 124);

}

#title {
  font-size: 14pt;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  align-self: flex-start;
  margin: 0.8em 0em 0em 1.5em;
  padding: 0.2em 0.2em 0em 0.2em;
  color: rgb(218, 85, 61);
  border: solid 0.15em rgb(218, 85, 61);
  border-radius: 0.6em;
}

#display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 13%;
  margin-top: 1.5em;
  margin-bottom: 2.6em;
  border-radius: 0.5em;
  background-color: rgb(226, 226, 226);
}

#text {
  font-family: lcdDisplay;
  font-size: 42pt;
  color: rgb(68, 68, 68);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 98%;
  height: 90%;
  margin-bottom: 0.2em;
}

#buttons {
  display: grid;
  width: 82%;
  height: 69%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 0.9em;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30pt;
  color: white;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 100%;
  background-color: rgb(126, 126, 126);
}

button:hover, button:focus {
  background-color:  rgb(151, 150, 150);
  outline: none;
}

.topBtns {
  color:  rgb(61, 61, 61);
  background-color:  rgb(189, 189, 189);
}

.topBtns:hover, .topBtns:focus {
  background-color: rgb(230, 230, 230);
  outline: none;
}

.sideBtns, #equals {
  color: white;
  background-color: tomato;
}

.sideBtns:hover, .sideBtns:focus, #equals:hover, #equals:focus {
  background-color:  white;
  color: tomato;
  outline: none;
}

#backspace {
  font-size: 50pt;
}

#zero {
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 3;
  border-radius: 6em;
  height: 95%;
}